{% if S_DISPLAY_SEPARATEUSERSANDBOTS %}
	<div class="stat-block online-list">
		{% if U_VIEWONLINE %}<h3><a href="{{ U_VIEWONLINE }}">{{ lang('WHO_IS_ONLINE') }}</a></h3>{% else %}<h3>{{ lang('WHO_IS_ONLINE') }}</h3>{% endif %}
		<p>
			{% EVENT index_body_block_online_prepend %}
			{{ TOTAL_USERS_ONLINE }} ({{ lang('ONLINE_EXPLAIN') }})<br>{{ RECORD_USERS }}<br> 
			{% if U_VIEWONLINE %}
				<br>{{ LOGGED_IN_USER_LIST }}<br>{{ LOGGED_IN_BOT_LIST }}
				{% if LEGEND %}<br><em>{{ lang('LEGEND') }}{{ lang('COLON') }} {{ LEGEND }}</em>{% endif %}
			{% endif %}
			{% EVENT index_body_block_online_append %}
		</p>
	</div>
{% endif %}